body {
  padding: 0 50px;
}

.template-edit {
  display: flex;
  position: relative;
  border: 1px dashed rgba(0, 0, 0, 0.15);
}

.dir-tree {
  margin-right: 10px;
  height: 600px;
  padding: 10px;
}

.ztree {
  width: 100%;
}

.editor-wrapper {
  height: 600px;
  flex-grow: 1;
}

#editor {
  width: 100%;
  height: 100%;
}

#editor > .CodeMirror {
  height: 100%;
}
